---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const universities = await getCollection('universities');
  return universities.map(u => ({
    params: { slug: u.slug },
    props: { university: u },
  }));
}

const { university } = Astro.props;
const { Content } = await university.render();
---
<Layout title={university.data.name}>
  <h1>{university.data.name}</h1>
  <Content />
</Layout>